<ng-template #content let-modal>
  <div class="modal-header border-0">
    <h4 class="modal-title text-uppercase text-bold" id="modal-basic-title">Game Mode</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="mt-2 ml-3">
      <p class="fs-6">Change mode {{ changeMode === true ? "3" : "5" }}</p>
      <label class="switch">
        <input type="checkbox" [checked]="changeMode === true" (click)="changeModeFunction()" mdbCheckbox />
        <span class="slider round"></span>
      </label>
    </div>
    <div class="mb-3 text-center mt-3">
      <h3 class="mb-5">Rules Game Mode {{ changeMode === true ? "5" : "3" }}</h3>
      <img src="{{ changeMode ? '../../assets/images/image-rules-bonus.svg' : '../../assets/images/image-rules.svg' }}"
        height="300px" alt="rules">
    </div>
  </div>
</ng-template>


<button
  class="rounded-3 px-4 py-1 text-uppercase text-white position-absolute top-50 start-100 translate-middle buttonBg options"
  (click)="open(content)">Options</button>