<ng-template #content let-modal>
  <div class="modal-header border-0">
    <h4 class="modal-title text-uppercase text-bold" id="modal-basic-title">Game Mode</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p class="fs-6 mt-2">change mode</p>
    <label class="switch">
      <input type="checkbox" [checked]="changeMode === true" (click)="changeModeFunction()" mdbCheckbox />
      <span class="slider round"></span>
    </label>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div> -->
</ng-template>


<button
  class="rounded-3 px-4 py-1 text-uppercase text-white position-absolute top-50 start-100 translate-middle buttonBg options"
  (click)="open(content)">Options</button>
