<ng-template #content let-modal>
  <div class="modal-header border-0">
    <h4 class="modal-title text-uppercase text-bold" id="modal-basic-title">Rules</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="mb-3 text-center">
      <img src="{{changeMode ? '../../assets/images/image-rules-bonus.svg' : '../../assets/images/image-rules.svg'}}"
        height="300px" alt="rules">
    </div>
  </div>
</ng-template>


<button
  class="rounded-3 px-4 py-1 text-uppercase text-white position-absolute start-100 translate-middle buttonBg rules"
  (click)="open(content)">Rules</button>