.font {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.fondoP {
  background-image: url("../../assets/images/bg-pentagon.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
}

.font {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.scissorsPenta {
  width: 150px;
  height: 150px;
  position: relative;
  padding: 15px 20px;
  margin-left: 570px;
  margin-top: -263px;
}

.scissorsPenta {
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg, hsl(39, 89%, 49%), hsl(40, 84%, 53%)) border-box;
  border: 16px solid transparent;
  -moz-box-shadow: inset 0 8px 0 #dddddd;
  -webkit-box-shadow: inset 0 8px 0 #dddddd;
  box-shadow: inset 0 8px 0 #dddddd;
  filter: drop-shadow(0 10px 0 hsl(40, 90%, 35%));
}

.scissorsPentaPosition {
  margin-top: 20px;
  width: 50px;
  height: 58px;
}

.paperPenta {
  width: 150px;
  height: 150px;
  position: relative;
  padding: 15px 20px;
  margin-left: 735px;
  margin-top: 116px;
}

.paperPenta {
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg, hsl(230, 89%, 62%), hsl(230, 89%, 65%)) border-box;
  border: 15px solid transparent;
  -moz-box-shadow: inset 0 8px 0 #dddddd;
  -webkit-box-shadow: inset 0 8px 0 #dddddd;
  box-shadow: inset 0 8px 0 #dddddd;
  filter: drop-shadow(0 10px 0 hsl(230, 55%, 44%));
}

.paperPentaPosition {
  margin-top: 19px;
  width: 50px;
  height: 61px;
}

.rockPenta {
  width: 150px;
  height: 150px;
  position: relative;
  padding: 15px 20px;
  margin-left: 655px;
  margin-top: 155px;
}

.rockPenta {
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg, hsl(349, 71%, 52%), hsl(349, 70%, 56%)) border-box;
  border: 16px solid transparent;
  -moz-box-shadow: inset 0 8px 0 #dddddd;
  -webkit-box-shadow: inset 0 8px 0 #dddddd;
  box-shadow: inset 0 8px 0 #dddddd;
  filter: drop-shadow(0 10px 0 hsl(349, 90%, 33%));
}

.rockPentaPosition {
  margin-top: 24px;
  width: 50px;
  height: 49px;
}

.lizardPenta {
  width: 150px;
  height: 150px;
  position: relative;
  padding: 15px 20px;
  margin-left: 405px;
  margin-top: -334px;
}

.lizardPenta {
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg, hsl(261, 73%, 60%), hsl(261, 72%, 63%)) border-box;
  border: 16px solid transparent;
  -moz-box-shadow: inset 0 8px 0 #dddddd;
  -webkit-box-shadow: inset 0 8px 0 #dddddd;
  box-shadow: inset 0 8px 0 #dddddd;
  filter: drop-shadow(0 10px 0 hsl(261, 90%, 33%));
}

.lizardPentaPosition {
  margin-top: 13px;
}

.spockPenta {
  width: 150px;
  height: 150px;
  position: relative;
  padding: 15px 20px;
  margin-left: 470px;
  margin-top: 38px;
}

.spockPenta {
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg, hsl(189, 59%, 53%), hsl(189, 58%, 57%)) border-box;
  border: 16px solid transparent;
  -moz-box-shadow: inset 0 8px 0 #dddddd;
  -webkit-box-shadow: inset 0 8px 0 #dddddd;
  box-shadow: inset 0 8px 0 #dddddd;
  filter: drop-shadow(0 10px 0 hsl(189, 90%, 33%));
}

.spockPentaPosition {
  margin-top: 13px;
  margin-left: 10px;
}

.hideLizard {
  visibility: hidden;
}

.hideSpock {
  visibility: hidden;
}

@media screen and (max-width: 1900px) {
  .fondoT {
    background-image: url("../../assets/images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
  }

  .header {
    width: 700px;
    height: 136px;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 2px;
  }

  .start-100 {
    left: 94% !important;
  }
}

@media screen and (max-width: 460px) {
  .header {
    width: 436px;
    height: 136px;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 2px;
  }

  .paper {
    width: 150px;
    height: 150px;
    position: relative;
    padding: 15px 20px;
    margin-left: 20px;
    margin-top: -45px;
  }

  .scissors {
    width: 150px;
    height: 150px;
    position: relative;
    padding: 15px 20px;
    margin-left: 266px;
    margin-top: -155px;
  }

  .rock {
    width: 150px;
    height: 150px;
    position: relative;
    padding: 15px 20px;
    margin-left: 146px;
    margin-top: 57px;
  }

  .paperPosition {
    margin-top: 8px;
    width: 50px;
    height: 63px;
  }

  .scissorsPosition {
    margin-top: 7px;
    width: 50px;
    height: 63px;
  }

  .rockPosition {
    margin-top: 7px;
    width: 50px;
    height: 63px;
  }

  .start-100 {
    left: 50% !important;
  }
}

@media screen and (max-width: 376px) {
  .fondoT {
    background-image: url("../../assets/images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 98vh;
    width: 682px;
  }

  .paper {
    width: 200px;
    height: 200px;
    position: relative;
    padding: 15px 20px;
    margin-left: 78px;
    margin-top: 32px;
  }

  .scissors {
    width: 200px;
    height: 200px;
    position: relative;
    padding: 15px 20px;
    margin-left: 409px;
    margin-top: -200px;
  }

  .rock {
    width: 200px;
    height: 200px;
    position: relative;
    padding: 15px 20px;
    margin-left: 244px;
    margin-top: 42px;
  }

  .start-100 {
    /* left: 88% !important; */
    margin-top: 2px;
  }
}
